*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Password*/
body{
    background-color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 720px){
    body{
        padding-left: 15px;
        padding-right: 15px;
    }
}

section{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 70vh;
    height: 70vh;
    align-items: center;
    justify-content: space-evenly;
    transition: border-radius .4s ease, box-shadow .4s ease;
}

section:hover{
    border-radius: 20%;
    box-shadow: 0px 0px 8px 8px rgb(0, 0, 0);
}

h1{
    font-size: 5vh;
    text-align: center;
}

@media (max-width: 720px){
    h1{
        font-size: 4vh;
    }
}

div input, label{
    font-size: 3vh;
}

@media (max-width: 720px){
    section #user{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

button{
    font-size: 3vh;
    border-style: none;
    padding: 10px 20px 10px 20px;
    background-color: white;
    color: black;
    border-radius: 30px;
    transition: background-color .3s ease;
}

button:hover{
    background-color: green;
}

h2{
    font-size: 3vh;
}

@media (max-width: 720px){
    h2{
        font-size: 13px;
    }
}